# Env
.env

# Go
services/go-api/bin/
services/go-api/*.exe

# Python
services/ai-service/__pycache__/
services/ai-service/.venv/
services/ai-service/*.pyc

# Node / Angular
clients/web-angular/node_modules/
clients/web-angular/dist/

# Flutter
clients/mobile-flutter/build/
clients/mobile-flutter/.dart_tool/
clients/desktop-flutter/build/
clients/desktop-flutter/.dart_tool/

# OS / IDE
.DS_Store
.vscode/
.idea/
