# Env
.env

# Go
services/go-api/bin/
services/go-api/*.exe



# Node / Angular
clients/web-angular/node_modules/
clients/web-angular/dist/

# Flutter
clients/mobile-flutter/build/
clients/mobile-flutter/.dart_tool/
clients/desktop-flutter/build/
clients/desktop-flutter/.dart_tool/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Build logs
build.log
*.log
